@charset "utf-8";
@import "var";
@import "public";
.margin{
    margin:$center;
    width:1000px;
}
#top{
      height: 120px;
  .content{
    overflow: hidden;
    padding:20px 0;
    position: relative;
    height:80px;
    margin: $center;
    a.c-left{
            float: left;
            width: 130px;
            height: 65px;
            overflow: hidden;
            margin-left:10px;
      img{
           width:168px;
           height:1531px;
        }
    }
    img.c-center{
        width:170px;
        height:60px;
        float:left;
        margin: -6px 0 0 5px;
        padding-left: 5px;
        display: inline-block;
    }
    span{
        font-size:20px;
        line-height:50px;
        font-weight: normal;
    }
    a.c-right{
            float:right;
            color: #005aaa;
            font-size: 14px;
            margin-top:40px;
            line-height: 60px;
    }
  }  
}
.zc{
    height: 96px;
    background: #f2f2f2;
    position: relative;
    .content{
        margin: $center;
        padding: 31px 0;
        height:34px;
        overflow: hidden;
        text-align: center;
    .zc1{
        width: 156px;
        height: 34px;
        line-height: 34px;
        color: #ffffff;
        font-size: 14px;
        float: left;  
        background: url(../images/t1.png) no-repeat; 
        i{
            float: left;
            margin-left: 15px;
            font-size: 18px;
        }
        span{
             float: right;
             margin-right: 45px;
        }
         }
    .zc2{
        width: 156px;
        height: 34px;
        line-height: 34px;
        color: #ffffff;
        font-size: 14px;
        float: left;  
        background: url(../images/t2.png) no-repeat; 
        i{
            float: left;
            margin-left: 15px;
            font-size: 18px;
        }
        span{
             float: right;
             margin-right: 45px;
        }
         }
    .zc3{
        width: 156px;
        height: 34px;
        line-height: 34px;
        color: #ffffff;
        font-size: 14px;
        float: left;  
        background: url(../images/t4.png) no-repeat; 
        i{
            float: left;
            margin-left: 15px;
            font-size: 18px;
        }
        span{
             float: right;
             margin-right: 45px;
        }
         }
    .zc-right{
        float: right;
         margin-right: 10px;
         width:170px;
         height:30px;
         .yonghu{
             width:80px;
             height:30px;
             background:#2979FF;
             float: left;
             a{
                 color:#fff;
                text-align: center;
                font-size:$fsize;
                line-height:30px;
             }
         }
        p{
            width:1px;
            height:30px;
            float: left;
            background:#999;
            margin:0 4px;
         } 
         .wdz{
             width:80px;
             height:30px; 
             float:right;
             background:#fff; 
             a{
                 color:#999;
                 font-size:$fsize;
                 text-align: center;
                 line-height:30px;
             }  
         }
    }
}
}
#main{
    height:448px;
    .m-left{
        width:620px;
        height:100%;
        float:left;
       form{
           width:440px;
           height:100%;
           margin-left:192px;
        label{
            float:left;
            font-size:14px;
            line-height:40px;
            color:#606060;
            width:85px;
            height:40px;
            text-align: center;
            margin-right:12px;
        }
        input{
            float:left;
             width:198px;
             padding: 10px 14px;
             height: 16px; 
             overflow: hidden;
            border:1px solid #e6e6e;
            margin-bottom:15px;
        }
        span{
              position:absolute;
              width:80px;
              height:38px;
              background:red;
              right:100px;
              top:21px;
              color:#fff;
              font-weight: 400;
              font-size:14px;
              line-height:38px;
              text-align: center;
          }
         .dianji{
            width: 126px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: #2979FF;
            color: #fff;
            margin-left: 89px;
            border-radius: 3px;
        }
        .ts1{
              float: left;
              color:#606060;
              font-size:12px;
              line-height:41px;
              width:85px;
              overflow: hidden;
              background: url(../images/xb.png) 0 12px no-repeat;
              padding-left:15px;
          }
        }
       .one{
            display:block;
      .phone{
        display: block; 
       .tel{
          width:427px;
          height:41px;
          padding-top:20px;
        }
        .yzm{
          width:427px;
          height:41px;
          padding-top:20px;
          position:relative ;
        }
        .sjyzm{
          width:427px;
          height:41px;
          padding-top:20px;
          position:relative ;  
        }
        }
        .emali{
            display: none;
            .tel{
              width:427px;
              height:41px;
              padding-top:20px;
            }
            .yzm{
              width:427px;
              height:41px;
              padding-top:20px;
              position:relative ;
            }
            
        }
        .ck{
            margin:20px 0;
            text-align: left;
            .te{
                width:13px;
                height:13px;
                margin-top:5px;
            }
              a{
                  color: #005aaa;
                  font-size:14px;
                  line-height:14px; 
              }
        }
        .ff{
            a.tel{
                color:#666;
            }
            a{
                color:blue;
                font-size:$fsize+2;    
            }
        }
    }
    .two{
        display:none;
        p{
            color:#aaa;
            font-size:14px;
            margin-top:15px;   
        }
        .tel{
          width:427px;
          height:41px;
          padding-top:20px;
        }
        .yzm{
          width:427px;
          height:41px;
          padding-top:20px;
          position:relative ;
          margin-bottom:30px;
        }
    }
     .three{
         display:none;
         p{
            color:#666;
            font-size:16px;
            margin-top:50px;   
        }
        .left{
            width:126px;
            height:40px;
            background:#333;
            text-align: center;
            float:left;
            color:#fff;
            line-height:40px;
            font-size:18px;
            margin:20px;
        }
        .right{
            width:126px;
            height:40px;
            background:#005AAA;
            text-align: center;
            float:left;
            color:#fff;
            line-height:40px;
            font-size:18px;
             margin:20px;
        }
         
     }
    }
    .m-right{
        padding: 15px 10px 5px 15px;
        width:220px;
        height:396px;
        background:#f6f6f6;
        float: right;
        margin-top:20px;
        .title{
            color: #797979;
            margin-bottom: 5px;
            font-size:14px;
            line-height: 21px;
     }
     p{
         margin-bottom:15px;
         font-size:14px;
        color:#b8b8b8;
        line-height: 21px;
     }
     ul{
         li{
         font-size:14px;
         color:#b8b8b8;
         line-height: 21px;
         background: url(../images/xb.png) -20px -213px no-repeat;
         padding-left:12px; 
         }
     }
     .gd{
         a{
             float: right;
            color: #797979;
            font-size:14px;
            line-height: 21px;
         }
     }
    }
}
//       页脚
#footer{
    height:200px;
    text-align: center;
    .f-t{
        margin-top:30px;
        height:30px;
        text-align: center;
            a{
                font-size:$fsize;
                line-height: 30px;
                color:#666;
            }
            span{
                margin:0 4px;
                font-size:$fsize;
                line-height: 30px;
                color:#999;
            }
    }
    p{
      line-height: 25px;
       color:#999; 
       font-size:$fsize;
       img{
           display: inline-block;
           margin:0 6px;
       } 
    }
    p:nth-of-type(3){
        margin-top:20px;
    }
}
#all-top{
        position: fixed;
        right: 5px;
        bottom: 40px;
        border:1px solid #999;
        width: 50px;
        height:50px;
        a{
            width:50px;
            height:50px;
            display: block;
            background:url(../../index/images/index_new_icos.png) no-repeat;
            background-position:right -190px;
        }
}
#all-top:hover a{
            background:url(../../index/images/index_new_icos.png) no-repeat;
            background-position:right -150px;
        }
