@charset "utf-8";
@import "var";
@import "public";
.margin{
    margin:$center;
    width:1190px;
}
#top{
      height: 89px;
      width:100%;
      border-bottom:1px solid #f2f2f2;
      margin-bottom: 20px;
  .content{
    overflow: hidden;
    padding:20px 0;
    position: relative;
    height:89px;
    width:1000px;
    margin: $center;
    a.c-left{
            float: left;
            width: 130px;
            height: 65px;
            overflow: hidden;
            margin-left:10px;
      img{
           width:168px;
           height:1531px;
        }
    }
    img.c-right{
        width:170px;
        height:60px;
        float:left;
        margin: -6px 0 0 5px;
        padding-left: 5px;
        display: inline-block;
    }
  }  
}
.dl{
    position: relative;
    background: url(../images/bj.png) no-repeat;
    background-position: 50% 50%;
    width:100%;
    height: 500px;
    overflow: hidden;
    .denglu{
        top:15px;
        right:136px;
        border:5px solid #ddd;
        border-right:none;
        border-radius: 3px;
        background: #fff;
        width:489px;
        height:388px;
        position:absolute;
        h2.hh{
            border-bottom: 1px solid #ddd;
            padding: 25px 0 15px 15px;
            position: relative;
            width:472px;
            height:23px;
           i{
            font-size: 22px;
            line-height:23px;
            font-weight: 400;
            color:#666;
            float: left; 
            }
            a{
                color: #005aaa;
                font-size: 12px;
                line-height: 20px;
                float: right;
                margin-right:15px;
            }
        }
        .pt{
            width:100%;
            height:47px;
          .qiehuan{
                  padding: 0px 114px;
                p{
                    width:100%;
                    height:100%;
                   .pt2{
                       border-bottom:2px solid #e4e4e4;
                       color:#666;
                      }
                      a{
                        color: #32beff;
                        border-bottom: 2px solid #32beff;
                        width: 50%;
                        height: 45px;
                        float: left;
                        text-align: center;
                        font-size:$fsize;
                        line-height:47px;
                      }
                  }
            }
           }
        .yanzhen{
                padding: 35px 114px 20px;
                width: 260px;
                height:164px;
                position: relative;
                p{
                           color:red;
                           font-size:$fsize;
                           line-height: 20px;
                       }
               .yi{
                   position: absolute;
                   display: block;
                   i{
                       height: 20px;
                       position: absolute;
                       width: 20px; 
                       left:12px;
                       top:7px;
                   }
                   input{
                           text-indent: 1em;
                           border: 1px solid #e4e4e4;
                            height: 26px;
                            line-height: 26px;
                            padding: 3px 3px 3px 38px;
                            width: 217px;
                   }    
                   .youxiang{
                       width:260x;
                       height:55px;
                       position: relative;
                       i{
                          background: url(../images/xb2.png) no-repeat;
                          background-position: 0 -30px;
                       } 
                   }
                   .mima{
                       width:260x;
                       height:55px;
                       position: relative;
                       i{
                          background: url(../images/xb2.png) no-repeat;
                          background-position: 0 -60px; 
                       } 
                   }
                   .wangji{
                       width:260px;
                       height:20px;
                       a{
                        float: right;
                        color:#005aaa;
                        font-size:$fsize;
                        line-height: 20px;  
                       }
                   }
                    #dianji{
                        width:260px;
                        height:40px;
                        margin-top:5px;
                        border-radius:5px;
                        text-align: center;
                        background:#32beff;    
                        a{
                            color:#fff;
                            font-size:$fsize;
                            line-height:40px;
                        }
                    }
            }
            .er{
                position: absolute;
                display: none;
                i{
                       height: 20px;
                       position: absolute;
                       width: 20px; 
                       left:12px;
                       top:7px;
                   }
                   input{
                           text-indent: 1em;
                           border: 1px solid #e4e4e4;
                            height: 26px;
                            line-height: 26px;
                            padding: 3px 3px 3px 38px;
                            width: 217px;
                       }
                   .shoujihao{
                       width:260x;
                       height:55px;
                       position: relative;
                       i{
                          background: url(../images/shouji.png) no-repeat ;
                          background-position:0 5px;
                          display: inline-block;
                          width:16px;
                          height:20px;
                           margin:0 0 0 10px;
                       }
                   }
                   .shoujimima{
                       width:260x;
                       height:55px;
                       position: relative;
                       i{
                          background: url(../images/shouji.png) no-repeat;
                          background-position:0px -16px;
                          display: inline-block;
                          width:16px;
                          height:32px;
                          margin:0 0 0 10px;
                       } 
                       input{
                           float: left;
                           width:140px;
                           border:1px solid #e4e4e4;
                           border-right:none;
                       }
                       a{
                           float: left;
                           width:80px;
                           height:32px;
                           line-height:32px;
                           border:1px solid #e4e4e4;
                           border-left:none;
                           font-size:14px;
                           color:#32beff;
                       }
                   }
                    #dianji{
                        margin-top:20px;
                        width:260px;
                        height:40px;
                        border-radius:5px;
                        text-align: center;
                        background:#32beff;    
                        a{
                            color:#fff;
                            font-size:$fsize;
                            line-height:40px;
                        }
                    }
            }
        }
              .qita{
                   margin-top:10px;
                    border-top: 1px solid #ddd;
                    height: 20px;
                    padding: 14px 0;
                    ul{
                        height:20px;
                        padding:0 7px;
                       li:nth-child(2) a{
                           background-position: 0 -154px;
                       }
                       li:nth-child(3) a{
                           background-position: 0 -259px;
                       }
                        li:nth-child(4) a{
                           background-position: 0 -222px;
                       }
                       li:nth-child(5) a{
                           background-position: 0 -342px;
                       }
                        li{
                            font-size: 12px;
                            color:#666;
                            float: left;
                            height: 20px;
                            margin-right: 4px;
                           a{
                                background: url(../images/xb2.png) no-repeat;
                               font-size: 12px;
                               float: left;
                               color:#666;
                               line-height: 20px;
                               padding-left: 25px;
                           }
                        }
                        
                    }
              }
}
}
//       页脚
#footer{
    height:200px;
    text-align: center;
    .f-t{
        margin-top:65px;
        height:30px;
        width:1190px;
        text-align: center;
            a{
                font-size:$fsize;
                line-height: 30px;
                color:#666;
            }
            span{
                margin:0 4px;
                font-size:$fsize;
                line-height: 30px;
                color:#999;
            }
    }
    p{
      line-height: 25px;
       color:#999; 
       font-size:$fsize;
       img{
           display: inline-block;
           margin:0 6px;
       } 
    }
    p:nth-of-type(3){
        margin-top:20px;
    }
}
//固定回到顶部
#all-top{
        position: fixed;
        right: 5px;
        bottom: 40px;
        border:1px solid #999;
        width: 50px;
        height:50px;
        a{
            width:50px;
            height:50px;
            display: block;
            background:url(../../index/images/index_new_icos.png) no-repeat;
            background-position:right -190px;
        }
}
#all-top:hover a{
            background:url(../../index/images/index_new_icos.png) no-repeat;
            background-position:right -150px;
        }