.clearfix:after {
  content: '\20';
  clear: both;
  display: block;
  height: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #f2f2f2;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  vertical-align: middle;
}

.margin {
  margin: 0 auto;
  width: 1000px;
}

.top {
  width: 1280px;
  height: 35px;
  background: #f6f6f6;
}
.top .l {
  float: left;
}
.top .l i {
  display: inline-block;
  margin-top: 3px;
  width: 15px;
  height: 20px;
  vertical-align: middle;
  background: url(../../index/images/index_new_icos.png) no-repeat;
}
.top .l span {
  color: #333;
  font-size: 12px;
  line-height: 35px;
}
.top ul {
  float: right;
  height: 35px;
}
.top ul .yi {
  margin-right: 20px;
}
.top ul li {
  float: left;
  height: 35px;
}
.top ul li i {
  font-size: 12px;
  line-height: 35px;
  color: #999;
}
.top ul li .te {
  padding: 3px 5px;
  width: 35px;
  height: 24px;
  margin-left: 5px;
  border-radius: 3px;
  background: #33beff;
  color: #fff;
}
.top ul li span {
  font-size: 12px;
  line-height: 35px;
  color: #999;
  margin: 0 5px;
}
.top ul li a {
  font-size: 12px;
  line-height: 35px;
  color: #999;
}
.top ul li a:hover {
  color: blue;
}
.top ul li .te:hover {
  color: #fff;
}

#header {
  height: 108px;
  background: #fff;
}
#header .l {
  width: 225px;
  height: 41px;
  float: left;
  margin: 33px 0 0 13px;
  background: url(../../index/images/2.jpg) no-repeat;
}
#header .c {
  width: 540px;
  float: left;
  margin-left: 88px;
  height: 94px;
}
#header .c .search {
  margin-top: 32px;
  height: 32px;
}
#header .c .search input {
  float: left;
  width: 488px;
  height: 28px;
  border: 1px solid #2979ff;
  text-indent: 1em;
}
#header .c .search submit {
  width: 50px;
  height: 32px;
  float: left;
  background: #2979ff url(../../index/images/3.jpg) center no-repeat;
}
#header .c ul {
  width: 100%;
  height: 29px;
}
#header .c ul li {
  float: left;
  height: 29px;
}
#header .c ul li a {
  font-size: 12px;
  line-height: 29px;
  margin-right: 8px;
  color: #999;
}
#header .c ul .te {
  color: blue;
}
#header .c ul a:hover {
  color: blue;
}

.banner {
  height: 41px;
  background: #2979ff;
}
.banner .left {
  float: left;
  width: 192px;
  line-height: 40px;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
}
.banner .left a {
  position: relative;
  display: block;
  font-size: 15px;
  margin-left: 10px;
  color: #fff;
  line-height: 40px;
}
.banner .left i {
  background: url(../../index/images/index_new_icos.png) no-repeat;
  float: right;
  right: 15px;
  width: 25px;
  height: 25px;
  background-position: -33px 0;
  margin: 10px 10px 0 0;
}
.banner .left .list {
  display: none;
  position: absolute;
  width: 192px;
  height: 430px;
  z-index: 100;
  overflow: hidden;
}
.banner .left .list ul {
  padding: 15px 0;
  width: 192px;
  height: 400px;
  background: rgba(0, 0, 0, 0.6);
}
.banner .left .list ul li {
  color: red;
  width: 192px;
  height: 36px;
  line-height: 36px;
  position: relative;
  padding-left: 12px;
  box-sizing: border-box;
}
.banner .left .list ul li a {
  display: block;
  color: #fff;
  width: 100%;
  height: 100%;
}
.banner .left .list ul li i {
  background: url(../../index/images/jiantou.png) no-repeat left top;
  width: 8px;
  height: 13px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.banner ul li {
  float: left;
  padding: 0 24px;
  position: relative;
}
.banner ul li a {
  font-size: 15px;
  line-height: 40px;
  color: #fff;
}
.banner ul li:nth-child(2) i, .banner ul li:nth-child(3) i {
  background: url(../../index/images/index_new_icos.png) no-repeat;
  background-position: 0px -623px;
  width: 18px;
  height: 15px;
  position: absolute;
  top: 9px;
  right: 5px;
}
.banner ul li:nth-last-child(3) i {
  background: url(../../index/images/index_new_icos.png) no-repeat;
  background-position: 0px -648px;
  width: 18px;
  height: 15px;
  position: absolute;
  top: 9px;
  right: 5px;
}

#xq {
  width: 100%;
  background: #fff;
  height: 580px;
}
#xq .title {
  line-height: 30px;
  padding: 5px 4px;
  clear: both;
  background: #FFF;
  height: 30px;
  font-size: 12px;
}
#xq .title a {
  margin: 0 4px;
  color: #333;
}
#xq .title strong {
  color: #d71249;
  font-weight: bold;
  margin: 0 4px;
}
#xq .content {
  position: relative;
  z-index: 2;
  height: 530px;
}
#xq .content #box {
  left: 0px;
  width: 800px;
  height: 530px;
  position: absolute;
}
#xq .content #box #spic {
  width: 380px;
  height: 380px;
  float: left;
  margin-right: 10px;
  position: relative;
  border: 1px solid #999;
}
#xq .content #box #spic #sf {
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}
#xq .content #box #spic #sf #sfimg {
  width: 380px;
  height: 380px;
  display: block;
}
#xq .content #box #bf {
  width: 380px;
  height: 380px;
  float: left;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  border: 1px solid #999;
  z-index: 10;
}
#xq .content #box #bf #bfimg {
  position: absolute;
  left: 0px;
  top: 0px;
}
#xq .content #box #imglist {
  position: absolute;
  left: 0px;
  bottom: 15px;
  width: 408px;
  height: 55px;
  overflow: hidden;
}
#xq .content #box #imglist a {
  float: left;
  width: 10px;
  height: 53px;
  border: 1px solid #ccc;
  line-height: 53px;
  text-align: center;
  background: #fff;
}
#xq .content #box #imglist #list {
  float: left;
  margin-left: 18px;
  width: 378px;
  position: relative;
  height: 55px;
}
#xq .content #box #imglist #list ul {
  list-style: none;
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 55px;
}
#xq .content #box #imglist #list ul li.item {
  float: left;
  width: 57px;
  height: 55px;
  padding-right: 6px;
}
#xq .content #box #imglist #list ul li.item img {
  width: 53px;
  height: 53px;
  border: 1px solid #ccc;
}
#xq .content #box #imglist #right {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #333;
}
#xq .content #box #imglist #left {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  color: #fff;
}
#xq .content .c-right {
  width: 600px;
  height: 445px;
  position: absolute;
  right: 0;
}
#xq .content .c-right h1 {
  overflow: hidden;
  font-size: 18px;
  color: #000;
  line-height: 33px;
  font-weight: 700;
}
#xq .content .c-right h2.zt1 {
  width: 100%;
  color: #d71249;
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
}
#xq .content .c-right h2.zt2 {
  clear: both;
  border: 1px dashed #ddd;
  width: 591px;
  height: 32px;
  line-height: 15px;
  margin: 10px 0;
  padding: 6px;
  font-size: 12px;
  color: #666;
}
#xq .content .c-right ul {
  width: 605px;
}
#xq .content .c-right ul li:nth-child(1) {
  height: 24px;
}
#xq .content .c-right ul li:nth-child(1) span {
  float: left;
  width: 68px;
  font-size: 14px;
  color: #666;
  height: 24px;
  line-height: 20px;
}
#xq .content .c-right ul li:nth-child(1) strong {
  color: #d71249;
  font-size: 16px;
  line-height: 24px;
  float: left;
  height: 24px;
  font-weight: 700;
}
#xq .content .c-right ul li:nth-child(2) {
  height: 51px;
  margin-top: 6px;
}
#xq .content .c-right ul li:nth-child(2) .lq {
  height: 51px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-t {
  height: 29px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-t span.sp {
  width: 67px;
  height: 22px;
  color: #666;
  float: left;
  display: inline-block;
  word-spacing: 15px;
  font-size: 14px;
  line-height: 29px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-t strong.st {
  font-size: 14px;
  width: 12px;
  height: 18px;
  padding: 0px 5px;
  line-height: 18px;
  text-align: center;
  background-color: #d71249;
  color: #fff;
  margin: 3px 6px 0px 0px;
  float: left;
  border-radius: 2px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-t p {
  float: left;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-t p span {
  margin-right: 5px;
  font-size: 14px;
  line-height: 17px;
  width: 89px;
  height: 21px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-t p strong {
  padding: 0px 7px 0px 7px;
  color: #df3032;
  text-align: center;
  background-color: #ffdfdf;
  font-weight: normal;
  display: inline-block;
  position: relative;
  margin: 0px 2px 5px 0px;
  cursor: pointer;
  height: 21px;
  line-height: 21px;
  font-size: 14px;
  border: 1px solid #df3032;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-b {
  height: 21px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-b span.fq {
  color: #666;
  float: left;
  height: 21px;
  font-size: 14px;
  line-height: 22px;
  margin-right: 8px;
}
#xq .content .c-right ul li:nth-child(2) .lq .lq-b span.hb {
  float: left;
  height: 21px;
  color: #000;
  font-size: 14px;
  line-height: 21px;
  margin-right: 8px;
}
#xq .content .c-right ul li:nth-child(3) {
  height: 24px;
}
#xq .content .c-right ul li:nth-child(3) span {
  float: left;
  height: 24px;
  line-height: 22px;
  color: #666;
  margin-right: 6px;
  font-size: 14px;
}
#xq .content .c-right ul li:nth-child(3) em {
  float: left;
  height: 24px;
  line-height: 22px;
  color: #666;
  font-size: 14px;
}
#xq .content .c-right ul li:nth-child(4) {
  height: 22px;
}
#xq .content .c-right ul li:nth-child(4) span.kh {
  float: left;
  height: 22px;
  color: #666;
  margin-right: 6px;
  font-size: 12px;
  line-height: 22px;
}
#xq .content .c-right ul li:nth-child(4) span.pj {
  float: left;
  height: 22px;
  line-height: 22px;
}
#xq .content .c-right ul li:nth-child(4) span.pj em {
  background: url(../images/xb.png) no-repeat;
  background-position: -300px -99px;
  margin: 5px 6px 0 0;
  width: 65px;
  height: 13px;
  display: inline-block;
  float: left;
}
#xq .content .c-right ul li:nth-child(4) span.pj i {
  float: left;
  height: 22px;
  margin-top: 2px;
  color: #d71249;
  font-size: 12px;
  font-weight: 700;
  margin-right: 6px;
}
#xq .content .c-right ul li:nth-child(4) span.pj strong {
  color: #666;
  line-height: 22px;
  font-size: 12px;
}
#xq .content .c-right ul li:nth-child(4) span.pj strong b {
  color: #d71249;
  font-size: 10px;
  line-height: 22px;
  font-weight: 700;
  margin: 0 4px;
}
#xq .content .c-right ul li:nth-child(5) {
  height: 24px;
}
#xq .content .c-right ul li:nth-child(5) span {
  float: left;
  height: 24px;
  line-height: 22px;
  color: #666;
  margin-right: 6px;
  font-size: 14px;
}
#xq .content .c-right ul li:nth-child(5) em {
  float: left;
  height: 24px;
  line-height: 22px;
  color: #666;
  margin-right: 6px;
  font-size: 14px;
}
#xq .content .c-right ul li:nth-child(5) a {
  float: left;
  height: 24px;
  line-height: 22px;
  color: #666;
  margin-right: 6px;
  font-size: 14px;
}

/*# sourceMappingURL=details.css.map */
