@charset "utf-8";
@import "var";
@import "public";
.clear:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
.margin{
    margin: $center;
    width:1190px;
}
// 顶部
#top{
    height: 35px;
    background: #f6f6f6;
    
    .l{
        float: left;
        width:100px;
       i{
          display: inline-block;
          background-position: 0 3px ; 
          width:15px;
          height:20px;
          background-image: url(../images/index_new_icos.png);
          background-repeat: no-repeat;
        }
        span{
            color:#333;
            font-size:$fsize;
            line-height: 35px
       }
    }
    ul{
         float: right;
         height:$height;
         width:800px;
        .yi{
            margin-right:20px;
        }
        li{
            float: left;  
            height:$height;
           i{
            font-size:$fsize;
            line-height: 35px;
            color: #999;
            }
        .te{
             padding:3px 5px;
             width: 35px;
             height: 24px;
             margin-left:5px;
             border-radius:3px;
             background:#33beff;
             color:#fff;
             }
        span{
            font-size: $fsize;
            line-height: 35px;
            color: #999;
            margin:0 5px;
        }
        a{
           font-size: $fsize;
            line-height: 35px;
            color: #999;
            
        }
        a:hover{
            color:blue;
        }
        .te:hover{color:#fff}
        }
    }
}
//头部
#header{
    height:108px;
    background: #fff;
    .l{
        width:228px;
        height:41px;
        float: left;
        margin:33px 0 0 13px;
        img{
            float:left;
            margin-right:10px;
        }
    }
    .c{
        width:560px;
        float: left;
        margin-left:88px;
        height:94px;
        position: relative;
        .search{
          margin-top:32px;
          height:32px;
//        position: relative;
         #search{
             float: left;
             width:488px;
             height:28px;
             border:1px solid #2979ff;
             text-indent: 1em;
             
             } 
         .Btn{
             
             width:50px;
             height:32px;
             float: left;
             background:#2979ff url(../images/3.jpg) center no-repeat;
             border: 0;
             outline: none;
         }  
        }
       ul{
//         width:100%;
           height:29px;
          li{
              float: left;
              height:29px;
              a{
                  font-size: $fsize;
                  line-height: 29px;
                  margin-right:8px;
                  color: #999;
              }
         }
        .te{color:blue}
          a:hover{
              color:blue;
          }  
        }
          ol.search-list{
             width:538px;
             height:140px;
             display: none;
             position: absolute;
             top:64px;
             left:0px;
             overflow: hidden;
             background:#fff;
             z-index:15;
             border: 1px solid #f2f2f2;
             li.li-search{
                padding: 0 10px;
                line-height: 20px;
                height:24px;
                overflow: hidden;
                background:rgb(255,255,255);
                width:528px;
                span{
                    float:left;
                    font:12px/20px "";
                    color:#666;
                } 
                i{
                  float:right;
                  font:12px/20px "";
                  color:#666; 
                }
             }
             li.li-search:hover{background:rgb(232,232,232)}
         }
         //跨域搜索
         #ss{
             width:538px;
//           height:200px;
             display:none;
             position: absolute;
             top:64px;
             left:0px;
//           overflow: hidden;
             background:#fff;
             z-index:15;
             border: 1px solid #f2f2f2;
            dd{
                padding: 0 10px;
                line-height: 20px;
                height:24px;
                overflow: hidden;
                background:rgb(255,255,255);
                width:528px;
                overflow: hidden;
                a{
                    display: block;
                    height:24px;
                  span{
                      float:left;
                      font:12px/22px "";
                      color:#666;  
                     }
                    i{
                       float:right;
                       font:12px/22px "";
                       color:#666;    
                    }  
                }
             }
             dd:hover{background:rgb(232,232,232)}
         }
          
    }
    .r{
        border: 1px solid #eaeaea;
        float: left;
        width: 168px;
        height: 31px;
        margin:33px 0 0 91px;
        text-align: center;
        position: relative;
        .shop {
          i{
           background: url(../images/index_new_icos.png) no-repeat;
           display: inline-block;
            width: 15px;
            height: 15px;
            background-position: -75px -232px;
            vertical-align: middle
       }
      a{
           font-size: $fsize;
           line-height: 30px; 
           color:#000;
        }
      img{
            display: inline-block;
            width:15px;
            height:15px;
        } 
       }
    .block{
            display: none;
            position: absolute;
            background-color: #fffefe;
            z-index: 20;
            width: 310px;
            padding: 15px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #eaeaea;
            top: 32px;
            right: 0;
            i{ 
                background: url(../images/index_new_icos.png) no-repeat;
                vertical-align: middle;
                display: inline-block;
                width: 25px;  
                height: 43px;
                background-position: -99px -271px;  
            }
            span{
                font-size: $fsize;
            }
    }
    }
    
    .r:hover {
        border-bottom-color: #fffefe;
       }
     .r:hover .block{
            display: block;
        }
    .r:hover .shop i{
        background-position: -99px -231px;
    }
    .r:hover .shop a{
         color: #2979ff;
    }    
    
}
.banner{
    height:41px;
    background:#2979ff;
    .left{
            float: left;
            width: 192px;
            line-height: 40px;
            position: relative;
            background: rgba(0, 0, 0, 0.4);
          a{
            position: relative;
            display: block;
            font-size:15px;
            margin-left:10px;
            color: #fff;
            line-height: 40px;
            }
          i{
            background: url(../images/index_new_icos.png) no-repeat;
            float: right;
            right: 15px;
            width: 25px;
            height: 25px;
            background-position: -33px 0;
            margin: 10px 10px 0 0;
          }
        .list{
             position: absolute;
             width:192px;
             height:430px;
             z-index: 100;
             overflow: hidden;
             background:rgba(0,0,0,0.6); 
             ul{
                 padding:15px 0;
                 width:192px;
                 height:410px;
                 color:#fff;
              li{           
                    width: 192px;
                    height: 36px;
                    line-height: 36px;
                    position: relative;
                    padding-left: 12px;
                    box-sizing: border-box; 
                    background:rgba(0,0,0,0); 
                a{
                      display: block;
                      color:#fff;
                      width:100%;
                      height:100%;
                  } 
                  i{    
                        background: url(../images/jiantou.png) no-repeat left top;
                        width: 8px;
                        height: 13px;
                        position: absolute;
                        z-index: 1;
                        right: 10px;
                        top: 6px;
                        
                  }  
              }
                li.hover{
                    background:rgba(245,245,245,.6);  
                }
                a.active{
                    color:red;
                }
              }
         }
         .erji{
             position: absolute;
             width:480px;
             height:430px;
             background:#fff;
             top:40px;
             display: none;
             z-index:15;
             left:192px;
            .erji-left{
                float:left;
                width:220px;
                height:100%;
                ul{
                  width:220px;
                  height:430px;
                  overflow: hidden;
                  li{
                      width:220px;
                      height:50px;
                      a{
                          display: block;
                          color:#666;
                          font-size:12px;
                          height:50px;
                          line-height: 50px;
                          img{
                              width:34px;
                              height:34px;
                              margin:5px 28px 0;
                              display: inline-block;
                          }
                      }
                  } 
                 li:hover a{color:#2979FF};                
                }
            }
            .erji-right{
                width:260px;
                float: left;
                height:430px;
                background:#fff;            
                ol{
                    height:430px;
                    overflow: hidden;
                    li{
                        height:106px;
                        width:252px;
                        border:4px solid #f6f6f6;
                        a{
                           display: block;
                           color:#666;
                           font-size:12px;
                           height:110px;
                           img{width:70px;height:70px;display: inline-block;margin:10px 15px 0 17px;float: left;};
                           div{
                               h4{width: 90px;
                                 height: 36px;
                                 display: inline-block;
                                 overflow: hidden;};
                               p{
                                   font:12px/30px "";  
                               };
                           }
                        }
                    }
                  li:hover a{color:#2979FF}; 
                }
            }
         }
    }
    ul.sy{
        li{
            float: left;
            padding: 0 24px;
            position: relative;
           a{
             font-size:15px;
             line-height: 40px;
             color: #fff;
           } 
        }
        li:nth-child(2),li:nth-child(3){
            i{
               background: url(../images/index_new_icos.png) no-repeat; 
               background-position: 0px -623px;
               width: 18px;
               height: 15px;
               position: absolute;
               top: 9px;
               right: 5px;
            }
        }
        li:nth-last-child(3) {
            i{
               background: url(../images/index_new_icos.png) no-repeat; 
               background-position: 0px -648px;
               width: 18px;
               height: 15px;
               position: absolute;
               top: 9px;
               right: 5px;
            }
        }
    }
}
// 轮播图区域
#main{
    height:430px;
    margin-bottom: 30px;
    position: relative;
    .left{
        width:952px;
        height:430px;
        float:left;
        position:relative;
        overflow: hidden;
        a {
            width: 20px;
            height: 60px;
            display: none;  
            position: absolute;
            top: 180px;
            z-index: 8;
            background: url(../images/index_new_icos.png) no-repeat;
        }
         a.prev {
                left:200px;
                background-position: -125px -31px;
                position: absolute;
        }
         a.next {
                right:20px;
                background-position: -158px -31px;
                position: absolute;
        }
        #scroll{
            position: relative;
            width:952px;
            height: 430px;
            overflow: hidden;
            img{
                position:absolute ;
                left:952px;
            }    
            img:nth-of-type(1){
                position: absolute;
                left:0px;
        }
        }
        .btn{
            width: 150px;
            height: 20px;
            position: absolute;
            background: rgba(255,255,255,0.5);
            left: 410px;
            bottom: 10px;
            border-radius: 20px;
            text-align: center;
         span {
            width: 12px;
            height: 12px;
            background: #666;
            margin:1px 2px;
            border-radius:50%;
            display: inline-block;
            cursor: pointer;
            } 
          span.hover{
                background:#ff4949;
            } 
        }
    }
    .right{
        float:right;
        width: 230px;
        height:430px;
        background: #fff;
        margin-top: 1px;
       .user{
            text-align: center;
            padding:10px;
            width:230px;
            height:124px;
        .usename{
            width:66px;height:66px;
            margin: $center;
            overflow: hidden;
            text-align: center;
           a{
            color:red;
            .t1{
                display: block;
                vertical-align: middle;
            }
            .t2{
                display: none;
            }
        }
        }
        p{
                text-align: center;
                height: 20px;
                line-height: 20px;
                padding: 5px 10px 0;
                color: #999;
                overflow: hidden;
                width:190px;
        }
       .dl{
           width:100%;
           height:33px;
           text-align: center;
           padding:9px 0 0;
           a{
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                border-radius: 2px;
                padding: 0 11px;
                background-color: #2979ff;
                color: #fff;
                margin:0 5px;
                display: inline-block;
           }
       }
       }
      .huiyuan{
              border-top: 1px #eaeaea solid;
              border-bottom: 1px #eaeaea solid;
              text-align: center;
              width:231px;
              height:61px;
          a.lb{
             width: 115px;
             padding: 8px 0;
             text-align: center;
             margin-left: -1px;
             border-right: 1px #eaeaea solid;
             color: #666;
             float: left;
             i{
                 background:url(../images/index_new_icos.png) no-repeat;
                 width:28px;
                 height:22px;
                 margin-bottom: 5px;
                 background-position: 0 -40px;
                 display: inline-block;
                 text-align:center;
                 vertical-align: middle;
             }
             span{
              font-size:$fsize; 
              display: block;  
             }
          }
          a.wdz{
             width: 50%;
             padding: 8px 0;
             text-align: center;
             color: #666;
             float: left;
             i{
                 background:url(../images/index_new_icos.png) no-repeat;
                 width:28px;
                 height:22px;
                 margin-bottom: 5px;
                 background-position: 0 -73px;
                 display: inline-block;
                 text-align:center;
                 vertical-align: middle;
             }
             span{
              font-size:$fsize; 
              display: block;  
             }
          }
      }
       a.lb:hover i{
           background-position:-36px -40px;
      }
      a.lb:hover span{
          color: #2979ff;
      }
      a.wdz:hover i{
           background-position:-36px -73px;
      }
       a.wdz:hover span{
          color:#2979ff;
      }
      .gonggao{
          width:230px;height:129px;
          padding:0 10px 10px;
          .title{
              width:210px;
              height:32px;
              border-bottom: 1px solid #eaeaea ;
              span{
                  float: left;
                  font-size:$fsize;
                  line-height:32px;
                  color:#333;
                  border-bottom: 1px solid #2979ff;
              }
              a{
                  color:#666;
                  float: right;
                  font-size:$fsize;
                  line-height:33px;
              }
          }
          ul{
              width:210px;
              li:nth-child(3),li:nth-child(4){
                  width:100%;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
              }
              li{
                   width:210px;
                   height:22px;
                  a{
                      font-size:$fsize;
                      line-height:22px;
                      color:#666;
                  }
              }
              li:hover a{
                  color: #2979ff;
              }
          }  
      }
      .server{
          ul{
              width:230px;
              height:81px;
              overflow: hidden;
              li{
               width:114px;
               height:41px;
               float: left;
               border-top: 1px #eaeaea solid;
               border-right:1px #eaeaea solid;
               text-align: center;
               span{
                   line-height: 40px;
                   font-size:$fsize;
               }
               a{
                   i{
                    background:url(../images/index_new_icos.png) no-repeat;
                     width: 25px;
                     height: 25px;
                     margin-right: 3px;
                     display: inline-block;
                     vertical-align: middle; 
                   }
               }
               }
               li:nth-child(1) a {
                   i{
                     background-position: 0 -131px;
                   }
               }
               li:nth-child(2) {
                   border-right:none;
               a{
                   i{
                     background-position: -36px -131px;
                   }
                }
              }
               li:nth-child(3) a{
                   i{
                     background-position: 0 -163px;
                   }
               }
               li:nth-child(4) {
                   border-right:none;
               a{
                   i{
                     background-position: -36px -163px;
                   }
               }
              }
          }
      }
}
}
#tyx{
   height:236px;
   a{
       img{
           display: block;
           height:200px;
       }
   }
}
#haier{
    height:150px;
    margin-bottom:30px;
    width:1190px;
    border: 0;
    ul{
        margin-left:-10px;
        height:150px;
        li{
            float: left;
            width:290px;
            height:150px;
            position: relative;
            overflow: hidden;
            margin-left:10px;
            img{
                width:300px;
                height:150px;
                display: inline-block;   
            }
        }
        li:hover img{
            margin-left:-10px;
        }
    }
}
//   (楼梯开始)
//   精品推荐
#jptj{
    height:478px;
    width:1188px;
    margin-bottom: 30px;
    .tuijian{
        height:60px;
        background:#2979ff;
        width:1154px;
        border-radius:10px 10px 0 0;
        padding:0 18px;
        h3{
            font-size: $fsize+6;
            float: left;
            line-height: 60px;
            i{
              background:url(../images/index_new_icos.png) no-repeat;
              background-position: -37px -231px;
              width: 32px;
              height: 32px;
              margin-right: 6px;
              display: inline-block;
              vertical-align: middle; 
            }
            span{
                font-size: $fsize+6;
                color:#FFF;
                line-height: 60px;
            }
        }
    }
    .rongyao{
        padding: 10px;
        height:400px;
        background: #fff;
        width:1170px;
        .left{
            width:220px;
            height:400px;
            float: left;
            overflow: hidden;
            img{
                width:230px;
                height:400px;
                display: block;
            }
        }
        .left:hover img{
            margin-left:-10px;
        }
        #ronyao-right{
        ul{
             float: right;
             height:400px;
             width: 950px;
//           position: relative;
             overflow: hidden;
           li.item{
                float:left;
                width: 269px;
                padding:20px;
                height: 159px;
//              position: relative;
                background: #fff;
                border-right:1px solid #eaeaea;
                border-bottom:1px solid #eaeaea;
                a.tupian{
                    float: left;
                    margin: 20px 20px 0 0;
                    width: 135px;
                    height: 135px;
                    img{
                        vertical-align: middle;
                        width:135px;
                        height:135px;
                    }
                }
                a.tupian:hover img{
                        margin-left:5px;
                }
                 a.ds{
                    width: 112px;
                    height: 36px;
                    float: left;
                    margin-top: 50px;
                    margin-bottom: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    font-size:$fsize;
                    color:#666;
                }
                a.ds:hover{color:#2979FF}
                .jiaqian{
                        font-size: 14px;
                        color: #ff4949;
                }
            }
          li:nth-child(3),li:nth-child(6){
                border-right: none;
            } 
           li:nth-child(4),li:nth-child(5),li:nth-child(6){
               border-bottom: none;
           }      
        }
        }
}
}
//    新品首发
.xinping{
    height:572px; 
    margin-bottom:30px;  
    img:hover{
        margin-left:-10px;
    }
    .cf{
                margin-top: 10px;
                width: 388px;
                height:240px;
                img{
                      width: 190px;
                      height: 240px;
                      display: block;
                    }
                .cf-left{
                    float: left;
                    width: 180px;
                    height: 240px;
                    margin-right: 10px;
                    overflow: hidden;    
                }
                .cf-right{
                    float: left;
                    width: 180px;
                    height:240px;
                    margin-right: 10px;
                    overflow: hidden; 
                }
            }
    .left{
      float: left;
      width: 390px;
       background:#fff;
      .title{
            background-color: #7aa58f;
            height: 60px;
            line-height: 60px;
            border-radius: 10px 10px 0 0;
            padding: 0 18px;
            width:354px;
            h3{
                float: left;
                color: #fff;
                font-size: 18px;
                font-weight: normal;
                span{
                    font-size: 18px;
                }
            }
      }
      .content{
            padding: 0 10px 10px;
            height: 502px;
            overflow: hidden;
            .xyj{
                overflow: hidden;
                position: relative;
                height: 252px;
                padding:0 10 10px;
            .xian{
                top: 126px;
                position: absolute;
                height: 1px;
                width: 100%;
                overflow: hidden;
                background: #eaeaea;
                }
                a.sj {
                     display: block;
                     padding: 18px 0;
                     position: relative;
                  h4{
                    margin-right: 100px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #000;
                    background: rgba(255, 255, 255, 0.8);
                    margin-bottom: 10px;
                 }
                 span{
                    width: 2px;
                    height: 14px;
                    margin-right: 4px;
                    background:#2979ff;
                    display: inline-block;
                    vertical-align: middle;
                 }
                 p{
                    margin-right: 100px;
                    color: #999;
                    padding: 0 10px 0 5px;
                    position: relative;
                    height: 36px;
                    font-size:$fsize;
                 }
                  p:hover{color:#2979FF}
                 img{
                        float: right;
                        width: 90px;
                        height: 90px;
                        display:inline-block ;
                    }
              }  
            }
      }
    }
    .center{
      float: left;
      width: 390px;
      margin-left: 10px;
       background:#fff;
       height:572px;
       .cf{
           padding:0 10px;
       }
      .title2{
           background-color: #9aa76f;
            height: 60px;
            line-height: 60px;
            border-radius: 10px 10px 0 0;
            padding: 0 18px;
            width:354px;
            h3{
                float: left;
                color: #fff;
                font-size: 18px;
                font-weight: normal;
                span{
                    font-size: 18px;
                }
            }
      }
      a.sj {
                 display: block;
                 padding: 18px 10px;
                 width:370px;
                 height:216px;
                 position: relative;
                  h4{
                    margin-right: 100px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #000;
                    background: rgba(255, 255, 255, 0.8);
                    margin-bottom: 10px;
                 }
                 span.dx{
                    width: 2px;
                    height: 14px;
                    margin-right: 4px;
                    background:#2979ff;
                    display: inline-block;
                    vertical-align: middle;
                 }
                 p{
                    margin-right: 100px;
                    color: #999;
                    padding: 0 10px 0 5px;
                    position: relative;
                    height: 36px;
                    font-size:$fsize;
                 }
                  p:hover{color:#2979FF}
                 img{
                     width: 135px;
                    height: 150px;
                    margin-top: -21px;
                    float: right;
                 }
                 span.dz{
                     position: absolute;
                    border: 1px solid #9aa76f;
                    height: 24px;
                    width:50px;
                    font-size:$fsize;
                    line-height: 24px;
                    color: #9aa76f;
                    padding: 0 10px;
                    border-radius: 2px;
                    top: 129px;
                    left: 10px; 
                 }
             }
             
    }
    .right{
      float: left;
      width: 390px;
      margin-left: 10px;
      .title3{
           background-color: #9aa76f;
            height: 60px;
            line-height: 60px;
            border-radius: 10px 10px 0 0;
            padding: 0 18px;
            width:364px;
            h3{
                float: left;
                color: #fff;
                font-size: 18px;
                font-weight: normal;
                span{
                    font-size: 18px;
                }
            }
      }
      .content{
            width:380px;
            padding: 0 10px 10px;
            background-color: #fff;
            height: 502px;
            overflow: hidden;
            position: relative;
          .hx{  position: absolute;
                height: 1px;
                width: 100%;
                overflow: hidden;
                background: #eaeaea
                ;
                top:250px;
                z-index: 5;
          }
        .sx{
                position: absolute;
                height:502px;
                width: 1px;
                overflow: hidden;
                background: #eaeaea;
                left:185px;
                z-index: 5;
      }
      a.lw{
           float: left;
            width: 50%;
            height: 210px;
            display: block;
            padding: 18px 0;
            position: relative;
            background:#fff;
            h4{
                width:170px;
                height:21px;
                margin-right: 0;
                padding-left: 15px;
                margin-right: 100px;
                font-size: 14px;
                font-weight: normal;
                color: #000;
                background: rgba(255, 255, 255, 0.8);
                margin-bottom: 10px;
            }
            p{
                margin-right: 0;
                padding: 0;
                margin: 0 15px;
                font-size:$fsize;
                color: #999;
            }
             p:hover{color:#2979FF}
            img{
                float: none;
                position: absolute;
                width: 160px;
                height: 120px;
                margin-left: -80px;
                left: 50%;
                bottom: 15px;
            }

      }
    }
}
}
//     优品专辑
#youping{
    
    margin-bottom:30px;
   .y-top{
       height:46px;
       width:1190px;
       background: #fff;
     .t-left{
        float:left;
        height:56px;
        margin-top: -10px;
        line-height: 56px;
        background-color: #2979ff;
        border-radius: 10px 10px 0 0;
        padding: 0 18px;
       i{
           background:url(../images/index_new_icos.png) no-repeat;
           background-position: 0 -270px;
           width:32px;
           height:32px;
           display: inline-block;  
       }
       span{
           color:#fff;
           font-size:14px;
           line-height:56px;
       } 
     }
     .t-right{
         float:left;
         height:56px;
         width:1034px;
         
       li{
           float:left;
           text-align: center;
           //border-color: #2979ff;
           border-bottom: 2px #eaeaea solid;
           a{
               float: left;
                width:124px;
                height:50px;
                text-align: center;
                color:#999;
                line-height:50px;
                font-size:14px;
            i{    
                background: url(../images/index_new_icos.png) no-repeat;       
                display: inline-block;
                width:25px;
                height:40px;
                vertical-align: middle;      
               }
               h4{
                  color: #999;
                  display: inline-block;
                  font-size:14px; 
               }
               h4.hh{color:#2979ff}
           }
           i.hbj{ 
                background-position-y: -402px;    
            }
            i.qbj{ 
                background-position-y: -356px;    
            }
           span{
               color:#999;
               line-height:50px;
               font-size:14px;
           }
       }
       
       li.active{
           border-bottom: 2px solid #2979ff;
       }
      
       li:nth-child(1) i.qbj1{ 
           background-position:-125px -402px;    
       }
//     i.hbj{ 
//         background-position-y: -402px;    
//     }
       
       li:nth-child(2) i.qbj2{ 
           background-position:0 -356px;    
       }
//     li:nth-child(2):hover i{
//         background-position:0 -402px;    
//     }
       li:nth-child(3) i.qbj3{ 
           background-position:-25px -356px;    
       }
//     li:nth-child(3):hover i{ 
//         background-position:-25px -402px;    
//     }
       li:nth-child(4) i.qbj4{ 
           background-position:-75px -356px;    
       }
//     li:nth-child(4):hover i{ 
//         background-position:-75px -402px;    
//     }
       li:nth-child(5) i.qbj5{ 
           background-position:-50px -356px;    
       }
//     li:nth-child(5):hover i{ 
//         background-position:-50px -402px;    
//     }
       li:nth-child(6) i.qbj6{ 
           background-position:-100px -356px;    
       }
//     li:nth-child(6):hover i{ 
//         background-position:-100px -402px;    
//     }
       li:nth-child(7) i.qbj7{ 
           background-position:-175px -356px;    
       }
//     li:nth-child(7):hover i{ 
//         background-position:-175px -402px;    
//     }
       li:nth-child(8) i.qbj8{ 
           background-position:-150px -356px;    
       }
//     li:nth-child(8):hover i{ 
//         background-position:-150px -402px;    
//     }
     }
   }
   .content{
        padding: 10px;
        background: #fff;
        .c-left{
            width:220px;
            height:332px;
            float: left;
            overflow: hidden;
            img{
                width:230px;
                height:332px;
            }
        }
        .c-left:hover img{
            margin-left:-10px;
        }
        .c-right{
//          position: relative;
            height:332px;
           ol{
             float: right;
             height:332px;
             width: 950px;
//           position: relative;
             overflow: hidden;
            li.c-li:nth-child(4){
                border-right:none; 
             }
             li.c-li:nth-child(8){
                border-right:none; 
             }
           li.c-li{
                float:left;
                width: 235px;
                height: 166px;
                position: relative;
                background:#fff;
                border-right:1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;;
                a.dj{
                    float:right;
                    margin: 20px 20px 0 0;
                    width: 110px;
                    height: 110px;
                    span.txt{
                        position: absolute;
                        width: 112px;
                        top: 25px;
                        left: 30px;
                        color: #999;
                        height: 30px;
                        font-size:12px;
                    }
                    span.jiage{
                        position: absolute;
                        top: 65px;
                        left: 30px;
                        font-size: 14px;
                        color: #ff4949;
                    }
                    img{
                        width: 110px;
                        height: 110px;
                        right: 10px;
                        bottom: 10px;
                        transition: transform 1s;
                        position: absolute;
                    }
                }
            }
             li.c-li:hover a.dj img{
                    transform: translateX(-10px);
                }
             li.c-li:hover a.dj span.txt{
                     color:#2979ff;
                }
        }
        }
}
}
#shuo{
    height:444px;
    margin-bottom:20px;
    .shuo-top{
        height:60px;
        background:#2979ff;
        width:1154px;
        border-radius:10px 10px 0 0;
        padding:0 18px;
        h3{
            font-size: $fsize+6;
            float: left;
            line-height: 60px;
            i{
              background:url(../images/index_new_icos.png) no-repeat;
              background-position: -41px -271px;
              width: 32px;
              height: 32px;
              margin-right: 6px;
              display: inline-block;
              vertical-align: middle; 
            }
            span{
                font-size: $fsize+6;
                color:#FFF;
                line-height: 60px;
            }
        }
    }
    ul.shuo-content{
        height:380px;
        margin-top:10px;
        width:1200px;
        li:hover img{transform: scale(1.05);}
        li{
            width:290px;
            height:380px;
            float:left;
            margin-right:10px;
            background:#fff;
             overflow: hidden;
            a.huo{
               width:290px;
               height:250px;
               display: block;
//             overflow: hidden;
               img{
                   transition: transform 1.1s;
               }        
            }
           li:nth-last-child{margin-right:0;}
           a.link{
              .xh{
                height: 24px;
                line-height: 24px;
                width:270px;
                margin-top:8px;
                padding:0 10px;
               span{
                   float:left;
                   color:#999;
                   line-height:24px;
                   font-size:10px;
               }
               i{
                   float:right;
                   color:#ff4949;
                   font-size:12px;
               }
           }
           p.cy{
               margin:10px 0;
               font-size:12px;
                overflow: hidden;
                text-overflow: ellipsis;
                height:40px;
                line-height:20px;
                padding:0 10px; 
                display: -webkit-box;
                -webkit-line-clamp: 2;//2行
                -webkit-box-orient: vertical;
           }
           }
           a.link:hover span{
               color:#2979ff;
           }
           a.link:hover p{
               color:#2979ff;
           }
           p.rq{
               padding: 0 10px;
               height:21px;
               span{
                  float:right;
                  color:#999;
                  font-size:12px; 
               }
               }
           }
        }
}
#foryou{
    height:692px;
    margin-bottom:20px;
    .f-top{
        height:60px;
        background:#2979ff;
        width:1154px;
        border-radius:10px 10px 0 0;
        padding:0 18px;
        h3{
            font-size: $fsize+6;
            float: left;
            line-height: 60px;
            i{
              background:url(../images/index_new_icos.png) no-repeat;
              background-position: 0 -313px;
              width: 32px;
              height: 32px;
              margin-right: 6px;
              display: inline-block;
              vertical-align: middle; 
            }
            span{
                font-size: $fsize+6;
                color:#FFF;
                line-height: 60px;
            }
        }
    }
    ul.f-content{
        height:622px;
        display: flex;
        width:1200px;
        margin: -10px 0 0 -10px;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            width:230px;
            height:301px;
            margin:10px 0 0 10px;
            background:#fff;
            a.syx{
                padding:10px;
                width:210px;
                height:230px;
                display: block;
                color:#666;
                img{
                    width:160px;
                    height:160px;
                    margin:17px auto;
                    transition: transform 0.4s ease;
                }
                p{//多行溢出隐藏
//              -webkit-line-clamp用来限制在一个块元素显示的文本的行数。 为了实现该效果，它需要组合其他的WebKit属性。常见结合属性：
//              display: -webkit-box; 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
//              -webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。
                  font-size:12px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height:40px;
                  line-height:20px; 
                  display: -webkit-box;
                  -webkit-line-clamp: 2;//2行
                  -webkit-box-orient: vertical;
                }
            }
            p.price{
                font-size: 14px;
                color: #ff4949;
                padding:10px;
            }
        }
        li:hover img{
           transform: translateY(-5px);
        }
        li:hover{ box-shadow: 0 0 6px #aaa;}
        li a:hover{
            color: #2979ff;
        }
    }
}
//协议
#xieyi{
  height:310px;
    width:100%;
    background:#fff;
    .x-top{
        height:104px;
        ul{
            height:43px;
            padding: 35px 0 25px;
            border-bottom: 1px #eaeaea solid;
           li{
               float:left;
               width:25%;
               position: relative;
              a{
                  padding-left:25px;
                  display: block;
                 i{
                      background:url(../images/index_new_icos.png) no-repeat;
                      width:43px;
                      height:43px;
                      float:left;
                      display: inline-block;
                      vertical-align: middle;
                      margin-right: 5px;
                  } 
              h4{
                  color:#333;
                  font-size:12px; 
                  line-height: 20px;  
              }
              p{
                color:#999;
                font-size:12px; 
                line-height: 20px;  
              }
              }
              span{
                    position: absolute;
                    height:33px;
                    right: 0;
                    vertical-align: middle;
                    top:5px;
                    width:1px;
                    margin:0;
                   background: #eaeaea;
              }
           }
           li:nth-child(1) i{
                background-position-y:-444px;
            }
            li:nth-child(2) i{
                background-position:-50px -444px;
            }
            li:nth-child(3) i{
                background-position:-97px -444px;
            }
            li:nth-child(4) i{
                background-position:-144px -444px;
            }
        }
    }
    .x-bottom{
        padding: 20px 0 40px;
        height:146px;
        .b-left{
            width:872px;
            height:146px;
            padding-left:23px;
            float:left;
            span{
                width:1px;
                height:146px;
                background:#eaeaea;
                float:right;
            }
            .help{
               float:left;
               width:174px;
               height:146px;
               dt{
                    color: #333;
                    margin-bottom: 18px;
                    font-size:12px;
                    line-height:22px;
               }
               dd{
                   a{
                       line-height:22px;
                       color:#999;
                       font-size:12px;
                   }
               } 
               dd:hover a{
                   color:#2979ff;
               }
            }
        }
        .b-right{
            float:right;
            width:285px;
            height:82px;
            padding:28px 0 0;
            a{
                display: block;
                width: 128px;
                height: 28px;
                line-height: 28px;
                margin: 0 auto 24px;
                border: 1px #eaeaea solid;
                i{
                    background:url(../images/index_new_icos.png) no-repeat;
                    width:22px;
                    height:22px;
                    margin:0 6px 0 22px;
                    vertical-align: middle;
                    background-position: -72px -201px;
                    display: inline-block;
                }
                span{
                    color:#333;
                    font-size:12px;
                    line-height:28px;
                }
            }
            a:hover span{
                color:#2979ff;
            }
        }
    }
}
//       页脚
#footer{
  height:200px;
    text-align: center;
    .f-t{
        margin-top:65px;
        height:30px;
        width:1190px;
        text-align: center;
            a{
                font-size:$fsize;
                line-height: 30px;
                color:#666;
            }
            span{
                margin:0 4px;
                font-size:$fsize;
                line-height: 30px;
                color:#999;
            }
    }
    p{
      line-height: 25px;
       color:#999; 
       font-size:$fsize;
       img{
           display: inline-block;
           margin:0 6px;
       } 
    }
    p:nth-of-type(3){
        margin-top:20px;
    }
}
#all-top{
        position: fixed;
        right: 5px;
        bottom: 40px;
        border:1px solid #999;
        width: 50px;
        height:50px;
        a{
            width:50px;
            height:50px;
            display: block;
            background:url(../images/index_new_icos.png) no-repeat;
            background-position:right -190px;
        }
}
#all-top:hover a{
            background:url(../images/index_new_icos.png) no-repeat;
            background-position:right -150px;
}
 #loutinav {
        width: 35px;
        position: fixed;
        top: 200px;
        left: 0px;
        border: 1px solid #ddd;
        display: none;
 ul li {
        width: 35px;
        height: 40px;
        border-bottom: 1px dotted #DDDDDD;
        list-style: none;
        font-size: 12px;
        text-align: center;
        position: relative;
        cursor: pointer;
        padding: 10px 0;
        background: #918888;
        color: #fff;
 span {
        width: 35px;
        height: 61px;
        position: absolute;
        top: 0;
        left: 0;
        line-height:21px;
    }
    }
    li.last {
        background: #5e4a4a;
        color: #fff;
        border-bottom: 1px solid #ddd;
    }
    
   li.active span {
        background: #c00;
        color: #fff;
        display: block;
    }
    li:hover span {
        background: #c00;
        color: #fff;
        display: block;
    }

}

